
#prova1{
    background-color: rgb(39, 44, 44);
    padding: 10px 0;
    /* Debug  */
}
.prova_2{
    background-color: white;
    /* Debug  */
}


/* Header  */
header #navbarNavDropdown{
    justify-content: flex-end;
}
header .bg-light{
    background-color: #3f4c59 !important;;
}
header .navbar-light .navbar-brand{
    color: white;
    font-weight: bold;
}
header .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
    color: white;
}
header .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: .7rem;
}
header .navbar-light .navbar-toggler {
    color: rgb(182, 182, 182);
    border-color: white;
}




/* Jumbotron  */
.section_type1{
    background-color: mediumaquamarine;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#avatar{
    width: 100%;
    height: auto;
}
.star_design{
    display: flex;
    justify-content: center;
}
.ms_star{
    text-align: center;
    font-size: 40px;
    color: white;
}
.hr_design{
    display: flex;
    align-items: center;
}
.hr_design div{
    height: 10px;
}
#bottom_jumbotron{
    text-align: center;
}
#jumbotron h2, #jumbotron h3 {
    margin: 20px 0;
    font-weight: bold;
}
#jumbotron h3{
    font-size: 12px;
}



/* Portfolio  */
#portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
}
#portfolio .star_design .ms_star{
    color: black;
}

.image_portfolio{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.margin_image_portfolio{
    margin-top: 1.5rem;
}

/* ABOUT */
#about{
    margin-top: 20px;
}
#about_p{
    margin-bottom: 20px;
}
#about_p p{
    font-weight: bold;
    margin-top: 20px;
}
#about .btn-light {
    color: #fff;
    background-color: #f8f9fa00;
    border-color: #fff;
}
#about .btn{
    padding: .675rem .75rem;
    border-radius: 0.45rem;
}
/* footer  */
#footer_color{
    background-color: rgb(73, 80, 110);
}
.test_1{
    text-align: center;
    /* debug */
}

/* CONTACT  */
#contact{
    padding-top: 40px;
    padding-bottom: 40px;
}
#contact .border_imput{
    width: 100%;
    border: none;
    color: black;
}
#contact .contact_write{
    padding-left: 0;
}
#contact .padding_input{
    border-bottom: 1px solid grey;
    padding-left: 0;
}
#contact #contact_message{
    min-height: 100px;
}

#contact .btn-light {
    color: #fff;
    background-color: mediumaquamarine;
    border-color:mediumaquamarine;
}
#contact .btn{
    padding: .675rem .75rem;
    border-radius: 0.45rem;
}
#contact #div_bottom_send{
    padding-left: 0;
    margin-top: 20px;
}

/* Mediaquery  */
@media all and (min-width: 768px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    } 
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xx{
        justify-content: space-around;
    }
    header .navbar-collapse{
        flex-grow: 0;
    }

    /* jumbotron */
    #jumbotron h2{
        font-size: 50px;
    }
    #jumbotron h3{
        font-size: 29px;
    }
    #jumbotron h2, #jumbotron h3{
        font-weight: normal;
    }
}